<div class="panel panel-default">
  <div class="panel-heading">
  <h4>Add or update {{vm.title}}</h4>
  </div>
  <form ng-submit="vm.save()" name="form">
  <div class="panel-body">

    <div class="form-group">
      <label>Name</label>
      <input class="form-control"
             type="text"
             ng-required="true"
             ng-model="vm.entity.name">
    </div>

    <div class="form-group">
      <label>Surname</label>
      <input class="form-control"
             type="text"
             ng-required="true"
             ng-model="vm.entity.surname">
    </div>

    <div class="form-group">
      <label>Index</label>
      <input class="form-control"
             type="text"
             ng-required="true"
             ng-model="vm.entity.index">
    </div>

    <div class="form-group">
      <label>Groups</label>
      <ui-select ng-model="vm.entity.group"
                 title="Choose group for a student">
        <ui-select-match
          placeholder="Choose group for a student...">
          <span>{{$select.selected.name}}</span>
        </ui-select-match>
        <ui-select-choices
          repeat="item in (vm.groups | filter:$select.search )"
          position="auto">
          {{item.name}}
        </ui-select-choices>
      </ui-select>
    </div>
  </div>

    <div class="panel-footer text-right">
      <button class="btn btn-default" type="reset"
              ng-click="vm.clear()">
        <i class="fa fa-fw fa-refresh"></i>
        Clear
      </button>
      <button class="btn btn-primary"
              type="submit"
              ng-disabled="form.$invalid">
        <i class="fa fa-fw fa-save"></i>
        Save
      </button>
    </div>

  </form>
</div>

<div class="row">
  <div class="col-md-12">
    <table st-table="vm.entities" st-safe-src="vm.rowCollection" class="table table-bordered table-striped">
      <tr>
        <th st-sort="name">Student Name <i class="fa fa-sort"></i></th>
        <th st-sort="surname">Student Surname <i class="fa fa-sort"></i></th>
        <th st-sort="index">Student Index <i class="fa fa-sort"></i></th>
        <th st-sort="group.name">Student Group <i class="fa fa-sort"></i></th>
        <th>Actions</th>
      </tr>
      <tr>
        <th colspan="5"><input st-search="index" class="form-control" placeholder="Index search ..." type="text"/></th>
      </tr>
      <tr ng-repeat="e in vm.entities">
        <td>{{e.name}}</td>
        <td>{{e.surname}}</td>
        <td>{{e.index}}</td>
        <td>{{e.group.name}}
        <td>
          <button class="btn btn-xs btn-default"
                  ng-click="vm.edit(e)">
            Edit
          </button>
          <button class="btn btn-xs btn-danger"
                  ng-click="vm.remove(e)">
            Remove
          </button>
        </td>
      </tr>
      <tfoot>
      <tr>
        <td colspan="5" class="text-center">
          <div st-pagination="" st-items-by-page="vm.itemsByPage" st-displayed-pages="vm.displayedPages"></div>
        </td>
      </tr>
      </tfoot>
    </table>

    <div class="panel panel-warning text-warning" ng-hide="vm.entities.length>0">
      There are no groups!
    </div>
  </div>
</div>

